#Exploratory Data Analysis
## A-2 Batch
### First Practical

In [ ]:
#First Practical Code
print("Welcome to EDA Lab")

Welcome to EDA Lab

In [ ]:
#Second Practical Code
print('I study in SIT')

I study in SIT

In [ ]:
#Third Practical Code
a=10
b=20
print(a+b)

30

BASIC PROGRAMS-EXPERIMENT-1

In [1]:
#First python programme/string
print("Hello, Welecome to Python Programming")

Hello, Welecome to Python Programming

In [2]:
a="Hello"
print(a)

Hello

In [3]:
#Comments
#This is a comment.
print("Hello,World!")

Hello,World!

In [5]:
#Many Statements
print("Hell World!")
print("haveagood day")
print("Leaning Pyton is Fun")

Hell World!
haveagood day
Leaning Pyton is Fun

In [7]:
print("Hell World!");print("how are you");print("bye bye")

Hell World!
how are you
bye bye

In [8]:
#Print numbers
a=3
print(a)
print(358)
print(500.200)

3
358
500.2

In [10]:
#Variables
x=5
y="hello,World"
print(x)
print(y)

5
hello,World

In [11]:
#CASE SENSITIVE
a=4
A="Sally"
print(a)
print(A)

4
Sally

In [13]:
#Many Values to Multiply Variables
x,y,z="orange","banana","cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [15]:
#Basic Arithmetic Operations
a=10
b=5
print("Addtion =",a+b)

Addtion = 15

In [17]:
#Understanding Data Types
x = 10
y = 3.14
z = "Python"
A = True
C = 3+2j
print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [18]:
#Takig Input From User
name = input("Enter your name")
age = int(input("Enter your age"))
print("Name:", name)
print("Age:",age)

Enter your nameGayatri
Enter your age18
Name: Gayatri
Age: 18

In [35]:
#Simple Calculator
a = int(input("Enter 1st Number:"))
b = int(input("Enter 2nd Number:"))
operation = input("Enter the operation: ")
if operation == "+":
  print(a+b)
if operation == "-":
  print(a-b)
if operation == "*":
  print(a*b)
if operation == "/":
  print(a/b)

Enter 1st Number:5
Enter 2nd Number:6
Enter the operation: /
0.8333333333333334

In [25]:
#Take Marks of 5 Subjects
#Find Sum & Area
MATHS = int(input("Enter your Maths Marks "))
CHEMISTRY = int(input("Enter your Chemistry Marks "))
PHYSICS = int(input("Enter your Physics Marks "))
FRENCH = int(input("Enter your Frech Marks "))
IES = int(input("Enter your IES Marks "))
print("Maths:", MATHS)
print("Chemistry:",CHEMISTRY)
print("Physics:",PHYSICS)
print("French:",FRENCH)
print("IES:",IES)
print("average =",MATHS+CHEMISTRY+PHYSICS+FRENCH+IES/5)
print("sum =",MATHS+CHEMISTRY+PHYSICS+FRENCH+IES)

Enter your Maths Marks 40
Enter your Chemistry Marks 40
Enter your Physics Marks 40
Enter your Frech Marks 40
Enter your IES Marks 40
Maths: 40
Chemistry: 40
Physics: 40
French: 40
IES: 40
average = 168.0
sum = 200

In [26]:
#Find Area Of Circle
r = int(input("Enter the radius:"))
print(3.14*r*r)

Enter the radius:5
78.5

In [28]:
#Find Perimeter Of Rectangle
l = int(input("Enter the length:"))
b = int(input("Enter the breadth:"))
print(2*(l+b))

Enter the length:5
Enter the breadth:4
18

In [29]:
#Find Area Of Rectangle
l = int(input("Enter the length:"))
b = int(input("Enter the breadth:"))
print(l*b)

Enter the length:5
Enter the breadth:4
20